<a href="https://colab.research.google.com/github/EricVPereira/Dados-Saresp-2021/blob/main/DadosSaresp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inep: Microdados de Alunos - SARESP - 2021

O Sistema de Avaliação de Rendimento Escolar do Estado de São Paulo (SARESP) é uma avaliação anual aplicada pela Secretaria da Educação do Estado de São Paulo com a finalidade de diagnosticar e acompanhar a evolução da educação básica paulista.
Os microdados de alunos do SARESP - 2021 apresentam os resultados das avaliações para cada aluno no ano de 2021. Acesse o Dicionário de microdados de alunos SARESP para a descrição dos campos do banco de dados.

In [1]:
import pandas as pd
import matplotlib

In [3]:
#Importação dataset
microdadosSaresp = pd.read_csv("/content/MICRODADOS_SARESP_2021.csv")

In [4]:
microdadosSaresp.head()

,CD_ALUNO,NOMEDEP,NomeDepBol,RegiaoMetropolitana,CDREDE,DE,CODMUN,MUN,CODESC,TIPOCLASSE,...,profic_lp,profic_mat,profic_cie,nivel_profic_lp,nivel_profic_mat,nivel_profic_cie,classific_lp,classific_mat,classific_cie,validade
0,17405108,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Sorocaba,20306.0,ITU,219.0,BOITUVA,16697.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,17703159,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20102.0,SANTOS,283.0,CUBATAO,11685.0,26.0,...,280.4,248.6,176.2,Básico,Abaixo do Básico,Abaixo do Básico,Suficiente,Insuficiente,Insuficiente,1.0
2,17786772,ESTADUAL - SE,Rede Estadual,Interior,20908.0,SANTO ANASTACIO,560.0,PRESIDENTE BERNARDES,32839.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,17827165,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20103.0,SAO VICENTE,369.0,ITANHAEM,12002.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,17562515,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Ribeirão Preto,20413.0,SAO JOAO DA BOA VISTA,453.0,MOCOCA,19012.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0


*   Total de colunas deste Dataset

In [5]:
microdadosSaresp.columns.values

array(['CD_ALUNO', 'NOMEDEP', 'NomeDepBol', 'RegiaoMetropolitana',
       'CDREDE', 'DE', 'CODMUN', 'MUN', 'CODESC', 'TIPOCLASSE',
       'SERIE_ANO', 'TURMA', 'CLASSE', 'TP_SEXO', 'DT_NASCIMENTO',
       'PERIODO', 'NEC_ESP_1', 'NEC_ESP_2', 'NEC_ESP_3', 'NEC_ESP_4',
       'NEC_ESP_5', 'Tip_PROVA', 'Tem_Nec', 'cad_prova_lp',
       'cad_prova_mat', 'cad_prova_cie', 'particip_lp', 'particip_mat',
       'particip_cie', 'TOTAL_PONTO_LP', 'TOTAL_PONTO_MAT',
       'TOTAL_PONTO_CIE', 'porc_ACERT_lp', 'porc_ACERT_MAT',
       'porc_ACERT_CIE', 'profic_lp', 'profic_mat', 'profic_cie',
       'nivel_profic_lp', 'nivel_profic_mat', 'nivel_profic_cie',
       'classific_lp', 'classific_mat', 'classific_cie', 'validade'],
      dtype=object)



*   Colunas que terão ultilidade ao longo do trabalho

In [6]:
colunasSelecionadas = ['CD_ALUNO', 'NOMEDEP', 'NomeDepBol', 'RegiaoMetropolitana',
       'CDREDE', 'DE', 'CODMUN', 'MUN', 'CODESC', 'TIPOCLASSE',
       'SERIE_ANO', 'TURMA', 'CLASSE', 'TP_SEXO', 'DT_NASCIMENTO']
microdadosSarespDesejados = microdadosSaresp.filter(items = colunasSelecionadas)
microdadosSarespDesejados

,CD_ALUNO,NOMEDEP,NomeDepBol,RegiaoMetropolitana,CDREDE,DE,CODMUN,MUN,CODESC,TIPOCLASSE,SERIE_ANO,TURMA,CLASSE,TP_SEXO,DT_NASCIMENTO
0,17405108,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Sorocaba,20306.0,ITU,219.0,BOITUVA,16697.0,26.0,EM-3ª série,H,250283918.0,M,8/27/2001
1,17703159,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20102.0,SANTOS,283.0,CUBATAO,11685.0,26.0,EM-3ª série,G,250456233.0,F,12/24/2001
2,17786772,ESTADUAL - SE,Rede Estadual,Interior,20908.0,SANTO ANASTACIO,560.0,PRESIDENTE BERNARDES,32839.0,0.0,EM-3ª série,E,254666837.0,M,2/1/2002
3,17827165,ESTADUAL - SE,Rede Estadual,Região Metropolitana da Baixada Santista,20103.0,SAO VICENTE,369.0,ITANHAEM,12002.0,0.0,EM-3ª série,F,250501285.0,F,9/20/2001
4,17562515,ESTADUAL - SE,Rede Estadual,Região Metropolitana de Ribeirão Preto,20413.0,SAO JOAO DA BOA VISTA,453.0,MOCOCA,19012.0,0.0,EM-3ª série,A,250893559.0,M,5/5/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40867,23474042,ESTADUAL - SE,Rede Estadual,Região Metropolitana de São Paulo,10314.0,SUL 2,100.0,SAO PAULO,902305.0,0.0,EM-3ª série,A,250903614.0,M,12/6/2004
40868,23469503,ESTADUAL - SE,Rede Estadual,Região Metropolitana de São Paulo,10403.0,GUARULHOS NORTE,336.0,GUARULHOS,5997.0,0.0,EM-3ª série,B,251450169.0,M,9/22/2003
40869,23469708,ESTADUAL - SE,Rede Estadual,Região Metropolitana de São Paulo,10208.0,LESTE 4,100.0,SAO PAULO,2471.0,0.0,EM-3ª série,C,250262193.0,F,3/14/2004
40870,23469732,ESTADUAL - SE,Rede Estadual,Região Metropolitana de São Paulo,10101.0,NORTE 1,100.0,SAO PAULO,130333.0,0.0,EM-3ª série,B,250061801.0,F,4/25/2002
40871,23488519,ESTADUAL - SE,Rede E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN



*   Total de participantes de cada municipio

In [7]:
colunaMun = microdadosSarespDesejados['MUN']
#numero de participantes por municnipio
colunaMun.value_counts().sort_index()

ADAMANTINA               65
ADOLFO                   11
AGUAI                    18
AGUAS DA PRATA           10
AGUAS DE LINDOIA         29
                       ...
VIRADOURO                39
VISTA ALEGRE DO ALTO     33
VOTORANTIM              292
VOTUPORANGA             174
ZACARIAS                  9
Name: MUN, Length: 348, dtype: int64


*   Total de participantes por cada DE

In [8]:
colunaDe = microdadosSarespDesejados['DE']
colunaDe.value_counts()

SAO VICENTE              2253
NORTE 1                  1619
SANTOS                   1323
SAO JOSE DO RIO PRETO    1312
LESTE 3                  1216
                         ...
ADAMANTINA                 65
GUARULHOS NORTE            62
MIRACATU                   23
OSASCO                     17
SANTO ANDRE                 6
Name: DE, Length: 65, dtype: int64



*   Total de participantes por data de nascimento

In [9]:
colunaDt_Nascimento = microdadosSarespDesejados['DT_NASCIMENTO']
colunaDt_Nascimento.value_counts().sort_index()

1/1/2000     1
1/1/2001     6
1/1/2002    11
1/1/2003    21
1/1/2004    57
            ..
9/9/2001     4
9/9/2002    24
9/9/2003    76
9/9/2004     8
9/9/2005     4
Name: DT_NASCIMENTO, Length: 2349, dtype: int64





*   Tota de participantes por genero

In [10]:
colunaTp_Sexo = microdadosSarespDesejados['TP_SEXO']
colunaTp_Sexo.value_counts().sort_index()

F    19513
M    21358
Name: TP_SEXO, dtype: int64


*   Total de participantes por série

In [11]:
colunaSerie_Ano = microdadosSarespDesejados['SERIE_ANO']
colunaSerie_Ano.value_counts().sort_index()

5º Ano EF          1
9º Ano EF       1410
EM-3ª série    39460
Name: SERIE_ANO, dtype: int64